# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\cstacey\Desktop\CVIPtools 5.8n New\CVIPtools 5.8n\CVIPLAB codebase based on best match to current usage at 10/28/2020
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

